@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Diphylleia&family=Roboto&display=swap");
* {
  font-family: "Cedarville Cursive", cursive;
  font-family: "Diphylleia", serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: pink;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gif img {
  padding: 10px;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  /* border: 1px solid red; */
}

p {
  margin-top: 0;
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.btns button {
  background-color: #fff;
  margin: 20px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
